name: Docker build and deploy
on:
    push:
        branches:
            - main
jobs:
    build:
        name: Build and push Docker images
        runs-on: ubuntu-latest

        steps:
            - name: Checkout source code
              uses: actions/checkout@v4

            - name: Build Docker images
              run: |
                docker compose build
            
            - name: Start Docker containers
              run: |
                docker compose up -d
            
            - name: wait for containers
              run: |
                sleep 30
                docker compose ps
            
            - name: Show logs
              run: |
                docker compose logs
            
            - name: Stop Containers
              run: |
                docker compose down
        
    deploy:
        name: deploy to ec2
        needs: build
        runs-on: ubuntu-latest

        steps:
            - name: Deploy to ec2
              uses: appleboy/ssh-action@v1.0.3
            
              with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USER }}
                key: ${{ secrets.EC2_SSH_KEY }}
                script: |
                    cd /path/to/your/project
                    git pull origin main
                    docker compose down
                    docker compose build
                    docker compose up -d
                
